@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: "Montserrat" !important;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0;
  padding-bottom: 60px;
}

.css-1u0eh3h-MuiPaper-root {
  box-shadow: none !important;
}